body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input {
    margin: 10px;
}

button {
    padding: 10px;
    background-color: rgba(32, 42, 173, 0.767);
    border: none;
    cursor: pointer;
}

p {
    font-size: 20px;
    font-weight: bold;
}